* { margin: 0; padding: 0; }
#descri{
    margin: 0;
}
#descripcion{
    width: 80%;
    height: 80px;
}
h2 {
    margin-bottom: 20px;
    text-align: center;
}

.campo {
    margin-bottom: 1px;
}

label {
    margin: 6px 0px 0px 0px;
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto; 
}

button {
    width: 50%;
    height: 30px;
    margin: 10px 0px 6px 0px;
    background-color: rgb(89, 212, 196);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(67, 147, 194, 0.979);
}
.contenedor {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 20px 0px;    
}

.observaciones{background-color: #f898b8;
height: 100px;
text-align: center;
}
.botones{background-color: #b33852;
height: 49px;
border-radius: 0px 0px 20px 0px;
}
.cabezera {
    height:7% ;
    background-color: rgb(238, 187, 119);
    text-align: center;
}

#min{
    display: flex;
}

.contenido {
    display: flex;
    justify-content: space-between;
}

.izquierda, .derecha {
    display: flex;
    width: 50%; /* Se ajusta para dejar espacio para el margen entre ellos */
    height: 250px;
    text-align: center;
}
.izquierda{background-color: #b33852;}
.derecha{background-color: #b33852;}
#mins{
    width: 100%; /* El div ocupará todo el ancho disponible */
    height: 30vh; /* El div ocupará toda la altura visible del viewport */
    background-color: #f0f0f0; /* Color de fondo para visualizar el área del div */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}
#mins form{
    width: 80%; /* Ancho del formulario */
    max-width: 400px; /* Ancho máximo para mantener la legibilidad */
    padding: 20px;
    background-color: #fff; /* Color de fondo del formulario */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}


.observaciones, .botones {
    text-align: center;
}
#panel {
    display: flex;
    flex-direction: column; /* Cambia la dirección a columna para apilar los elementos verticalmente */
    height: 92%;
    background-color: blueviolet;
    border-radius: 0px 0px 20px 0px;
}

#regi {
    width: 30%;
    height: 30%;
    background-color: #831b1b;
}

#areglo {
    width: 70%;
    height: 70%;
    background-image: url('/img/portada.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
}

#boton {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 30%; /* Altura del div boton, ajustar según sea necesario */
}

#btn_guardar, #btn_cancelar {
    display: flex;
    flex-direction: column; /* Alinear los botones verticalmente */
    justify-content: flex-end; /* Alinear los botones en la parte inferior */
}

#btn_guardar button,
#btn_cancelar button {
    margin-bottom: 10px;
}
#olas h4{
    margin-top: auto;
    margin-bottom: auto;
    color: #140606; /* Color del texto */
    font-size: 20px; /* Tamaño de la fuente */ 
    font-weight: bold; /* Grosor de la fuente */
    text-align: center; /* Alineación del texto */
} 
#olas{
    align-items: center;
    justify-content:center ;
    display: flex;
    height: 8%;
    background-color: #f1b787;
}

#global{
    border-radius: 0px 0px 20px 0px;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}

.icono-pestana {
    width: 16px; /* ajusta el ancho según sea necesario */
    height: 16px; /* ajusta la altura según sea necesario */
  }

#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura del viewport */
    background-image: url('/img/fondo_bosque.jpg'); /* URL de la imagen de fondo */
    background-size: cover; /* Escala la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen dentro del contenedor */
    border: none; /* Establece el borde a 0 (sin borde) */
    outline: none; /* Elimina el borde de enfoque (opcional) */
}
#div1{
    width:700px;
    height:500px;
    background-color: rgb(5, 3, 100); 
    border-radius: 20px;
    
}
.caja{
    background-size: 100% 100% ; /* La imagen se ajustará para cubrir todo el contenido del div */
    background-repeat: no-repeat; /* Evita que la imagen se repita si el div es más grande que la imagen */
    width: 100%;
    height: 20%;
    overflow: hidden; /* Evita que el contenido se desborde y mantenga el borde redondeado */
    cursor: pointer;
}
.caja:nth-child(1) {
    background-image: url('/img/home.jpg');   
    /*background-size: contain;*/
}
.caja:nth-child(1):hover{opacity: 0.8;}
.caja:nth-child(2) {
    background-image: url('/img/lupa.avif');
    /*background-size: contain;*/
}
.caja:nth-child(2):hover{opacity: 0.8;}
.caja:nth-child(3) {
    background-image: url('/img/libros.avif');
}
.caja:nth-child(3):hover{opacity: 0.8;}
.caja:nth-child(4) {
    background-image: url('/img/descrip.jpg');
}
.caja:nth-child(4):hover{opacity: 0.8;}
.caja:nth-child(5) {
    background-image: url('/img/notas.webp');
    border-radius: 0px 0px 0px 20px; /* Agrega el borde redondeado al último div */
}
.caja:nth-child(5):hover{opacity: 0.8;}
#di{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 670px;
    height: 470px;
    background-color: rgb(16, 90, 185);
    flex-direction: column;
}
#superior{
    border-radius: 20px 20px 0px 0px;
    background-color: lightblue; /* Color de fondo del div superior*/
    height: 10%;
    width: 96%;
    margin-top: 10px; /* Establece un margen superior de 20px */
    margin-right: auto; /* Resetea el margen derecho */
    margin-bottom: 0; /* Resetea el margen inferior */
    margin-left: auto; /* Resetea el margen izquierdo */

}
#superior h4{
    color: #140606; /* Color del texto */
    font-size: 40px; /* Tamaño de la fuente */
    font-weight: bold; /* Grosor de la fuente */
    text-align: center; /* Alineación del texto */
}

#inferior{
    border-radius: 0px 0px 20px 20px;
    height: 85.7%;
    width: 96%;
    margin-top: 0; /* Establece un margen superior de 20px */
    margin-right: auto; /* Resetea el margen derecho */
    margin-bottom: 10px; /* Resetea el margen inferior */
    margin-left: auto; /* Resetea el margen izquierdo */
    display: flex;
    flex: 1; /* El div inferior ocupará todo el espacio disponible */
}
#izquierda{
    border-radius: 0px 0px 0px 20px;   
    /*border-right:10px ;*/
    height: 100%;    
    width: 120px;
    /*margin-right: 471px;*/
}
#derecha{
    background-color: #831010;
    border-radius: 0px 0px 20px 0px;
    /*display: flex;
    flex: 1;*/
    width: 600px;
}   
#encima{
    background-size: 100% 100%; /* Escala la imagen para cubrir todo el contenedor */
    /*background-position: center; /* Centra la imagen dentro del contenedor */
    background-image: url('/img/bienbenido.png');
    height: 25%;
}
#debajo{
    flex: 1;
    display: flex;
    justify-content: center; /* Alinea los elementos secundarios al centro horizontalmente */
    align-items: center; /* Alinea los elementos secundarios al centro verticalmente */
    border-radius:0px 0px 20px 0px ;
    height: 75%;
    background-image: url('/img/mar.avif');

}
#ejem{
    background-color: #831010;
    border-radius: 0px 0px 20px 0px;
    /*display: flex;
    flex: 1;*/
    width: 600px;
}
#inicio{
    border-radius: 0px 0px 20px 0px;        
    height: 100%;
    width: 100%;
    background-color: #caafaf;
}
#conteo {        
    width: 40%; /* Establece el ancho automático para el contenido */
    height: 200px; /* Alto del div */
    background-color: #f0f0f0; /* Color de fondo del div */
    margin-right: 20px; /* Agrega un margen a la derecha */
    margin-left: 40px;
    border-radius: 0px 0px 20px 20px;
}

#capsula {
    flex: 1; /* El div capsula ocupará todo el espacio restante */
    height: 100%; /* Alto del div */
    border-radius: 0px 0px 20px 0px;
}
#registro {
    display: flex;
    width: 200px; /* Ancho del div */
    height: 100px; /* Alto del div */
    border: 2px solid #333; /* Borde del div */
    margin: 30px 20px 30px 40px ;
}
#libros {
    display: flex;
    margin: 30px 20px 30px 40px ;
    width: 200px; /* Ancho del div */
    height: 100px; /* Alto del div */
    border: 2px solid #333; /* Borde del div */
}

#t_li{
    height: 15%;
    background-color: rgb(250, 207, 151);
}

#nume {
    background-color: #831010;
    height: 85%;
    border-radius: 0px 0px 20px 20px;
}

#t_li h4{
    color: #140606; /* Color del texto */
    font-size: 20px; /* Tamaño de la fuente */
    font-weight: bold; /* Grosor de la fuente */
    text-align: center; /* Alineación del texto */
    /*margin-top: 10px; /* Margen superior */
    /*margin-bottom: 10px; /* Margen inferior */
}

.ima_libros_1{
    width:60% ;
    height: 100%;
    background-size: 100% 100% ; /* La imagen se ajustará para cubrir todo el contenido del div */
    background-repeat: no-repeat; /* Evita que la imagen se repita si el div es más grande que la imagen */
    overflow: hidden; /* Evita que el contenido se desborde y mantenga el borde redondeado */
    background-image: url('/img/inventario.avif');
}
.ima_libros_2{
    background-image: url('/img/can.avif');
    width:60% ;
    height: 100%;
    background-size: 100% 100% ; /* La imagen se ajustará para cubrir todo el contenido del div */
    background-repeat: no-repeat; /* Evita que la imagen se repita si el div es más grande que la imagen */
    overflow: hidden; /* Evita que el contenido se desborde y mantenga el borde redondeado */
    
} 
.esp_tex {
    flex: 1;
    background-color: rgb(117, 80, 134);
    display: flex; /* Utiliza flexbox para alinear verticalmente el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 100px; /* Establece la altura del contenedor */
}

.esp_tex h4 {
    color: #140606; /* Color del texto */
    font-size: 20px; /* Tamaño de la fuente */
    writing-mode: vertical-rl; /* Establece la escritura vertical de derecha a izquierda */
    text-orientation: sideways; /* Orienta el texto en posición vertical */
    text-align: center; /* Centra el texto horizontalmente */
} 
