* { margin: 0; padding: 0; }
#max{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh; /* Altura del viewport */
    background-image: url('/img/fondo_bosque.jpg') ;
    background-size: cover; /* Escala la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen dentro del contenedor */
    border: none; /* Establece el borde a 0 (sin borde) */
    outline: none; /* Elimina el borde de enfoque (opcional) */
}
#cober{
    width:700px;
    height:500px;
    background-color: rgb(5, 3, 100); 
    border-radius: 20px;
}
#sup h4{
    color: #140606; /* Color del texto */
    font-size: 40px; /* Tamaño de la fuente */
    font-weight: bold; /* Grosor de la fuente */
    text-align: center; /* Alineación del texto */
}
#sup{
    border-radius: 20px 20px 0px 0px;
    background-color: lightblue; /* Color de fondo del div superior*/
    height: 10%;
    width: 96%;
    margin-top: 10px; /* Establece un margen superior de 20px */
    margin-right: auto; /* Resetea el margen derecho */
    margin-bottom: 0; /* Resetea el margen inferior */
    margin-left: auto; /* Resetea el margen izquierdo */
}
#inf{
    background-color: #000000;
    border-radius: 0px 0px 20px 20px;
    height: 85.7%;
    width: 96%;
    margin-top: 0; /* Establece un margen superior de 20px */
    margin-right: auto; /* Resetea el margen derecho */
    margin-bottom: 10px; /* Resetea el margen inferior */
    margin-left: auto; /* Resetea el margen izquierdo */
    display: flex;
    flex: 1; /* El div inferior ocupará todo el espacio disponible */
    flex-direction: column;
}
#l1{
    height: 10%;
    background-color: aliceblue;
}
#l1 p{
    color: #140606; /* Color del texto */
    font-size: 40px; /* Tamaño de la fuente */
    font-weight: bold; /* Grosor de la fuente */
    text-align: center; /* Alineación del texto */
}
#l2{
    border-radius: 0px 0px 20px 20px;
    flex: 1;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
}
#iz{
    display: flex;
    border-radius: 0px 0px 0px 20px;
    width: 55%;
    height: 100%;
    background-color: yellow;
}
/* #de{
    border-radius: 0px 0px 20px 0px;
    flex: 1;
    
} */
#de {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    background-color: #f9f9f9;
    /* background-image: url('/img/nebulosa.avif');  */

}

#de h5 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#de p {
    margin: 8px 0;
}
#de .autor {
    color: #ff0000; /* Cambia el color de la letra a rojo */
}
#de strong {
    color: #0c0c0b;
}

#de a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

#de a:hover {
    background-color: #0056b3;
}

#de form button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#de form button:hover {
    background-color: #c82333;
}


#todo {
    display: flex; /* Utiliza flexbox para organizar los elementos del formulario */
    flex-direction: column; /* Organiza los elementos en una columna */
}
#todo div {
    display: flex; /* Utiliza flexbox para organizar elementos */
    flex-direction: column; /* Organiza los elementos en una columna */
    align-items: center; /* Centra verticalmente los elementos */
/*    margin-bottom: 20px; /* Añade espacio entre cada campo del formulario */
}

label {
    color: #9439c9;
    font-weight: bold; /* Hace que los textos de las etiquetas sean negritas */
    /*margin-bottom: 3px; /* Añade espacio bajo cada etiqueta */
}

input[type="text"],
textarea {
    width: 100%; /* Ocupa todo el ancho del contenedor padre */
    border: 1px solid #ccc; /* Añade un borde alrededor de los campos de entrada */
    border-radius: 3px; /* Añade bordes redondeados a los campos de entrada */
}
#descripcion{
    height: 70px;
}
#sam{
    height: 100px;
}
#contenedor {
    display: flex;
    flex-direction: column; /* Cambia la dirección de los elementos a vertical */
    justify-content: center;
    align-items: center;
    /*border: 1px solid #ccc; /* Borde para visualización */
  }

  button {
    background-color: rgb(121, 255, 255);
    margin: 5px 0; /* Margen entre botones */
    padding: 5px 5px; /* Espacio interno del botón */
    font-size: 16px; /* Tamaño del texto */
  }
button:hover {
    background-color: #0056b3; /* Cambia el color de fondo del botón al pasar el ratón sobre él */
}
#contenedor-imagen {
    width: 100%;
    height: 100%;
    position: relative; /* Permite posicionar elementos hijos de forma relativa */
    border: 10px solid red; /* Borde rojo alrededor del div contenedor */
    box-sizing: border-box; /* Incluye el borde en las dimensiones del div */
    display: flex; /* Utiliza flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    overflow: hidden; /* Oculta cualquier contenido que se desborde del div */
    border-radius: 0px 0px 0px 20px;
  }

  #contenedor-imagen img {
    max-width: 100%; /* Máximo ancho de la imagen para ajustarse al contenedor */
    max-height: 100%; /* Máxima altura de la imagen para ajustarse al contenedor */
  }

#basto{
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    height: 100%;
    background-color: #0056b3;
}
#pri{
    display: flex;
    background-image: url('/img/arco.avif');
    /*background-color: #9439c9;*/
    flex-direction: row;
}
#ima{
    display: flex;
    height: 200px;
    width: 55%;
   /* background-color: #855454;*/}
#for{
    position: relative;
    padding: 10px;
    height: 180px;
    width: 45%;
    /*background-color: bisque;*/}
#sec{
    height: 40px;
    background-color: aquamarine;
}
#sec h4{
    color: #140606; /* Color del texto */
    font-size: 30px; /* Tamaño de la fuente */
    font-weight: bold; /* Grosor de la fuente */
    text-align: center; /* Alineación del texto */
}
#ter{
    padding: 10px;
    height: 126px;
    border-radius: 0px 0px 20px 20px;
    background-color: brown;
}
#detal{
    height: 120px;
}
#col{
    margin-left: 100px;
    margin-top: 20px;
    /*position: absolute;
    bottom: 0;*/
}
#autor,#editorial{height: 30px;}
.imagen-con-marco {
    margin-top: 3px;
    margin-left: 3px;
    /*order: 2px solid black; /* Aplica un borde negro a las imágenes */
    /*margin-right: 10px; /* Agrega espacio entre las imágenes */
    border: 2px solid black; /* Aplica un borde negro a las imágenes */
    margin-right: 5px; /* Agrega espacio entre las imágenes */
    width: 950%; /* Establece el ancho máximo del contenedor */
    height: 95%; /* Establece la altura máxima del contenedor */
    object-fit: cover; /* Hace que la imagen se ajuste al contenedor manteniendo su relación de aspecto y cubriendo el área */
}
